[bumpversion]
current_version = 0.1.4
commit = True
tag = True

[bumpversion:file:metrics_render/__init__.py]

[bumpversion:file:pyproject.toml]
parse = version = \"(?P<major>\d+)\.(?P<minor>\d+)\.(?P<patch>\d+)\"
